name: Build

on: [pull_request, push]


jobs:
  unit_test:
    strategy:
      matrix:
        node: [14, 16, 18]
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node }}
    - run: npm i -g npm
      name: Update NPM
    - run: npm install --no-package-lock
      name: Install dev dependencies
    - run: npm run lint
      name: Run linter
    - run: npm run test
      name: Run unit tests

  e2e_test:
    env:
      CI: true
      APPIUM_TEST_SERVER_PORT: 4567
      APPIUM_TEST_SERVER_HOST: 127.0.0.1
      APPIUM_STARTUP_TIMEOUT_SEC: 30
      _FORCE_LOGS: 1
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: lts/*
        check-latest: true
    - run: |
        npm install -g appium@next
        npm install
      name: Install dev dependencies
    - run: |
        cwd=$(pwd)
        pushd "$cwd"
        cd ~
        appium driver install --source=local "$cwd"
        nohup appium server \
          --port=$APPIUM_TEST_SERVER_PORT \
          --address=$APPIUM_TEST_SERVER_HOST \
          --relaxed-security \
          2>&1 > "$cwd/appium.log" &
        popd
      name: Start Appium server
    - run: |
        seconds_started=$(date +%s)
        while ! nc -z $APPIUM_TEST_SERVER_HOST $APPIUM_TEST_SERVER_PORT; do
          sleep 0.1
          seconds_elapsed=$(( $(date +%s) - seconds_started ))
          if [[ $seconds_elapsed -gt $APPIUM_STARTUP_TIMEOUT_SEC ]]; then
            echo "Appium server was unable to start within $APPIUM_STARTUP_TIMEOUT_SEC seconds timeout"
            exit 1
          fi
        done
      name: Wait for Appium server startup
    - run: npm run e2e-test
      name: Run functional tests
    - name: Save server output
      if: ${{ always() }}
      uses: actions/upload-artifact@master
      with:
        name: appium.log
        path: appium.log
